# Code Owners

# Default owner for everything
* @DanFashauer

# iOS-specific files
ios/** @DanFashauer

# Web/Next.js-specific files
src/** @DanFashauer

# GitHub configuration
.github/** @DanFashauer
